out/rcl_cbr/*.log
out/rcl_ctx/*.log
out/rcl_fi/*_lg*.log
out/rcl_fi/*cm0.85*.log
out/rcl_tab/*.log
out/q_*.out
out/rcl_s16/*.log
out/rcl_s16/*.txt
out/rcl_s16/
out/rcl_ctx/
out/rcl_tab/
out/ieval_*.txt
out/smudge/
out/diag_gfx.txt
out/today_eval_train.txt
out/today_eval_synth.txt
SA20_bundle.zip
